/* pouzivam box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42
 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

body {
    text-rendering: optimizeLegibility;
    background-color: #f5f5f5;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100%;
}

.zbozi {
    width: 670px;
    height: 440px;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.vizual {
    display: inline-block;
    padding: 30px;
    vertical-align: top;
    position: relative;
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom, #06d7c1, #50cc49);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 1px 1px rgba(149, 149, 149, 0.5);
}
.detaily {
    display: inline-block;
    position: relative;
    background: #fff;
    padding: 30px;
    width: 50%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 1px rgba(149, 149, 149, 0.5);
}

/*
Opraveno. 
Asi jsem byla lehce v transu na dovče. 
Příště se budu držet zadání. :) 
Díky za zpětnou vazbu, snad už je to správně.
*/

.slogan {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.bota {
    position: absolute;
    top: 130px;
    left: -90px;
}

.logo {
    margin-bottom: 30px;
}

.cena {
    font-size: 28px;
    font-weight: 500;
    color: white;
    position: absolute;
    bottom: 50px;
    right: 30px;
}

.zaruka {
    font-size: 12px;
    font-weight: 400;
    color: white;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.nazev {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.produkt {
    color: #959595;
}

.popis {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 30px;
    border-bottom: 2px solid #06d7c1;
}

.parametr {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 30px;
}

.akce {
    background: #f15f42;
    width: 35%;
    height: 10%;
    position: absolute;
    left: 30px;
    bottom: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #959595;
    text-align: center;
}

.tlacitko {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 12px;;

}
.tlacitko li a:hover {
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 0.5em;
    color: black;
}

.vybrana {
    text-decoration: none;
    padding: 0.3em;
}

.vybrana:hover {
    color: #f15f42;
    border: 2px solid  #f15f42;
    border-radius: 50%;
}